html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, code, del, dfn, em, img, q, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {margin:0;padding:0;border:0;font-weight:inherit;font-style:inherit;font-size:100%;font-family:Tahoma;vertical-align:baseline;}
body {line-height:1.5;}
table {border-collapse:separate;border-spacing:0;}
caption, th, td {text-align:left;font-weight:normal;}
table, td, th {vertical-align:middle;}
blockquote:before, blockquote:after, q:before, q:after {content:"";}
blockquote, q {quotes:"" "";}
a img {border:none;}
a { color: black;text-decoration: none }
a:link { text-decoration: none }
a:visited { text-decoration: none }
a:active { text-decoration: none }
a:hover { text-decoration: none }
a.title { font-weight:bold; }

h5 { font-size:14px; font-weight:bold;}

/* typography.css */
body {font-size:75%;color:#222;background:#fff;font-family:"Helvetica Neue", Helvetica, Arial, sans-serif;}
body {margin: 0;}

.body_menu { background-color: #D4D4D4 ;color:white;}
.body_topmenu { overflow-x: hidden; overflow-y: auto;  background-color: #D66136; color: white; }
.body_adminpage { padding:10px; overflow-x: hidden; overflow-y: auto; background-color: white; }

input { padding:2px;font-size:12px;font-family:Tahoma; }
textarea { width:90%; }
.hrefeffect { border:0; height:22px; line-height:12px; background-color: transparent }

/* admin */

.leftmenu { margin-left: 12px; padding:3px; background-color: white; width: 150px; margin-top: 6px;}
.leftmenu h3 { height:23px;color:white; background-color: #D66136;padding:8px 0px 2px 8px;border-bottom:2px solid #9C3B35; width: 142px;}
.leftmenu h3 a { color:white; } 
.leftmenu h4 { color:#FFFF33; background-color: #60655F;padding:8px 0px 2px 8px;border-bottom:1px solid #336600; width: 142px;}
.leftmenu ul {
list-style-image:none;
list-style-position:outside;
list-style-type:none;
margin:0 5px;
text-align: left;
}
.leftmenu li { list-style-position:outside; height:24px; background-color: white;border-bottom:1px solid #BAD06E; padding:3px 0 0 0;cursor: pointer;list-style-type:none;width: 142px;line-height: 24px; }
.leftmenu li a { display:block; }

#selected_leftmenu {
	background-color: #63852E;
	color: white;
	font-weight: bold;
	padding-left:4px;
}

#no_selected_leftmenu {
	background-color: transparent;
}

#no_selected_leftmenu a {
	color: white;
	font-weight: normal;
}

#topmenu ul {
	list-style-image:none;
	list-style-position:outside;
	list-style-type:none;
}

#topmenu li { line-height: 30px;display:inline;height:30px; padding:0px 6px 0px 6px;margin-right: 4px;cursor: pointer; float:left;}
#topmenu li A:hover,
#topmenu li A:active,
#topmenu li A:link,
#topmenu li A:visited {
	font-weight:bold;
}

#selected_topmenu {
	background-color: #63852E;
	color: black;
	font-weight: bold;
}

#selected_topmenu a {
	color: white;
}

#no_selected_topmenu {
	background-color: #BDD36F;
	color: white;
}

#no_selected_topmenu a {
	color: #63852E;
	font-weight: normal;
}

/* admin page */
#ajaxstatus {
  position:absolute;
  right: 20px;
  top:14px; 
  height: 26px;
  font-weight: bold;
  border: 2px solid white;
  color: #E1E1DF;
  padding: 3px 10px 0px 6px;
  display:none;
  z-index: 9999;
  background-color: #013068;
}

.pagetitle { height:30px; padding:5px; font-size:14px;font-weight:bold; color: white; border:1px solid #626262; line-height: 30px;background-color: #7DAC0C}
.pageexplanation { padding:8px;color:#808080;border:1px solid #D8D8D8;margin:10px 0 10px 0;}
.pagesubmenu { padding:8px;color:black;font-weight:bold;border:1px solid #339900;margin:10px 0 10px 0;background-color: #FFFFBB}
.pageview { padding:8px 8px 3px 8px;color:black;font-weight:bold;border:1px solid #339900;margin:10px 0 10px 0;background-color: #D8D8D8}
.ddiv { padding:8px;color:black;margin:3px 0 3px 0;}

.tabletitle { font-weight:bold; line-height: 30px; }
.tableattr { border-top:2px solid #64852E; width:100%; }
.tableintattr { border-top:1px solid #D8D8D8; width:100%; }
.tablenormalattr { width:100%; }
.tableattr #lefttd1 { background-color: #F5F5F5;border-bottom: 1px solid #D8D8D8;border-left: 1px solid #D8D8D8; padding: 5px; line-height: 28px; }
.tableattr #lefttd { background-color: #F5F5F5;width:200px; border-bottom: 1px solid #D8D8D8;border-left: 1px solid #D8D8D8; padding: 5px; line-height: 28px; }
.tableattr #lefttd div { color: #808080; line-height: 18px; }
.tableattr #righttd {  border-bottom: 1px solid #D8D8D8;border-left: 1px solid #D8D8D8;border-right: 1px solid #D8D8D8; padding: 5px 0px 5px 5px; }
.tableattr #bottomtd { border-bottom: 1px solid #D8D8D8;border-left: 1px solid #D8D8D8; border-right: 1px solid #D8D8D8; padding: 5px; line-height: 28px; }

.tableattr .tleft { border-bottom: 1px solid #D8D8D8;border-left: 1px solid #D8D8D8; padding: 5px; line-height: 28px; }
.tableattr .tright { border-bottom: 1px solid #D8D8D8;border-left: 1px solid #D8D8D8;border-right: 1px solid #D8D8D8; padding: 5px; line-height: 28px; }
.tableattr .ttile { background-color: #BAD06E;font-weight:bold;text-align:center; padding: 5px; }
.tableattr .hr { border-top: 2px solid #D8D8D8; }


/* admin page 2 */
.tiptop { height: 30px; padding: 5px; background-color: #336699; color: white; }

fieldset li {
	list-style-image:none;
	list-style-position:outside;
	list-style-type:none;
}

fieldset h3 {
	font-size: 14px;
  font-weight: bold;
  border-bottom:2px solid #152314;
}

fieldset .row {
  border-bottom:1px solid #C8CBBA;
  padding:12px;
}

fieldset .errorSummary {
  background-color: #E0E0E0;
  border-bottom:1px solid #C8CBBA;
  padding: 8px;
}

fieldset .errorMessage {
  color: #BB1306;
  padding-bottom: 5px;
}

fieldset label.required {
  font-weight: bold;
  padding-bottom: 5px;
}

fieldset label span.required {
  color: red;
}